body{
    font-family: 'Nunito';
}
nav{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 120px;
}

#logo{
    display: flex;
}

#logo img{
    height: 30px;
}

#logo figcaption{
    font-size: 24px;
    font-weight: bold;
    color: #3E3F43;
    margin-left: 7%;
    width: 200px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 10%;
    height: 30px;
}

nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
}

nav ul li.active a{
    color: #DAA520;
}

nav ul li a.button{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid rgba(34, 34, 34, 0.75);
    border-radius: 8px;
    padding: 5% 20px;
}

header{
    width: 1000px;
    margin: 0 auto;
    display: flex;  
}

header h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
}

header span{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

header button{
    color: white;
    background: #DAA520;
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
}

#header-bg{
    background: #F9BDBD;
    width: 370px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100px;
    z-index: -1;
}


#about-us header{
    display: flex;
    justify-content: space-between;
}

section header{
    width: 1000px;
    margin: 0 auto;
    display: flex;  
}

section div{
    margin-top: 20px;
}

#about-us article{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: 380px;
    width: 500px;
    max-width: 500px;
}

h2{
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
    color: rgba(34, 34, 34, 0.1);
}

#about-us header figure{
    align-items: center
}

#header-bg2{
    position: absolute;
    width: 280px;
    height: 400px;
    left: 22%;
    top: 120%;
    background: #F7DEA6;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: -1;
}

section article img{
    margin-left: -37%;
    margin-top: 30%;
}

#about-us article span{
    margin-left: -40%;
    margin-top: 35%;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    float: right;
}

#about-us article p{
    margin-left: 60%;
    margin-top: -20%;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    width: 500px;
}

.container2 {
    display: grid;
    margin-left: 22%;
    grid-template-columns: 650px 350px;
    grid-template-rows: 380px;
    
}

#section-text2 span{
    float: left;
    font-size: 36px;
    margin-top: 130px;
    margin-bottom: 20px;
}

#section-text2 p{
    font-size: 24px;
}

#fourth img{
    float: right;
}

#How-it-works figure{
    margin-top: 9%;
}

#How-it-works figcaption{
    width: 210px;
}

#How-it-works div{
    margin-left: 20%;
}

#How-it-works button{
    margin-left: 28%;
    width: 212px;
    height: 50px;
    left: 470px;
    top: 2393px;
    background: #DAA520;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

#Categories figure{
    margin-top: 9%;
}

#structure{
    display: grid;
    grid-template-columns: repeat(3,350px);
    margin-left: 22%;
}

#Desk{
    width: 280px;
    height: 400px;
    left: 0px;
    top: 0px;
    background: #F9BDBD;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

#Desk p{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    padding-left: 10%;
}

#Desk button{
    background: #F9BDBD;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    width: 123px;
    height: 40px;
    margin-left: 50%;
    margin-top: 10%;
}    

#Chair{
    width: 280px;
    height: 400px;
    left: 336px;
    top: 0px;
    background: #F7DEA6;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

#Chair p{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    padding-left: 10%;
}

#Chair img{
    padding-left: 20%;
}

#Chair button{
    background: #F7DEA6;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    width: 123px;
    height: 40px;
    margin-left: 50%;
    margin-top: 6%;
} 

#Kitchenware{
    width: 280px;
    height: 400px;
    left: 672px;
    top: 0px;
    background: #A8DCEC;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

#Kitchenware p{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    padding-left: 10%;
}

#Kitchenware img{
    padding-left: 20%;
}

#Kitchenware button{
    background: #A8DCEC;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    width: 123px;
    height: 40px;
    margin-left: 50%;
    margin-top: 20%;
} 

#BookShelf{
    width: 280px;
    height: 400px;
    left: 0px;
    top: 0px;
    background: #F9BDBD;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

#BookShelf p{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    padding-left: 10%;
}

#BookShelf img{
    padding-left: 20%;
}

#BookShelf button{
    background: #F9BDBD;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    width: 123px;
    height: 40px;
    margin-left: 50%;
    margin-top: 10%;
} 

#Electronics{
    width: 280px;
    height: 400px;
    left: 336px;
    top: 0px;
    background: #F7DEA6;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

#Electronics p{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
    padding-left: 10%;
}

#Electronics img{
    padding-left: 10%;
    padding-top: 20%;
}

#Electronics button{
    background: #F7DEA6;
    border: 1px solid #3E3F43;
    border-radius: 4px;
    width: 123px;
    height: 40px;
    margin-left: 50%;
    margin-top: 23%;
} 